.index {
  height: 100%;
  background-color: white;
  padding-bottom: 2rem;

  &__container {
    color: white;
    background: linear-gradient(to right, #0575e6, #021b79);
    padding-bottom: 1rem;
  }

  &__tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
  }

  &__tab {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    cursor: pointer;

    &:first-child {
      background-color: white;
      color: black;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
    font-weight: 700;

    i {
      margin-right: 0.5rem;
    }
  }

  &__form {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.3rem;
    font-weight: 300;

    // &:last-child {
    //   font-size: 80%;
    // }
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  &__product {
    font-weight: 400;
  }

  &__wrap {
    position: relative;
  }

  &__brand {
    position: absolute;
    top: 0;
    right: 1rem;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.5);
  }

  &__agree,
  &__second {
    margin: 0.5rem 0.8rem;
  }

  &__agree-title,
  &__second-title {
    font-size: 1.5rem;

    span {
      font-size: 1rem;
      font-weight: 400;
      padding: 0.1rem 0.3rem;
      border-radius: 8px;
      // border: 1px solid #021b79;
      background-color: #021b79;
      color: white;
    }
  }

  &__agree-list {
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
  }

  &__agree-item,
  &__agree-all {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    cursor: pointer;

    span {
      margin-left: 0.5rem;
      font-weight: 400;
    }
  }

  &__agree-all {
    color: #021b79;

    span {
      font-weight: 700;
    }
  }

  textarea {
    width: 99%;
    height: 5rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    resize: none;
    border: 1px solid #0575e6;
  }

  &__button {
    cursor: not-allowed;
    border-radius: 8px;
    color: white;
    background-color: #ccc;
    // position: absolute;
    // bottom: 0;
    float: right;
    margin-right: 0.8rem;
    width: fit-content;
    padding: 0.5rem;

    &.ok {
      background-color: #0575e6;
      cursor: pointer;
    }
  }

  &__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    text-align: center;
  }

  &__card {
    width: 80%;
    margin: auto;
  }

  &__select {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }

  &__table {
    border: 1px solid #0575e6;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
    text-align: left;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.3rem;
    font-weight: 400;

    span:first-child {
      color: #0575e6;
    }

    span:last-child {
      color: #021b79;
    }
  }

  &__bye {
    font-size: 1.3rem;
    color: #0575e6;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
